:root {
  --red-grad: linear-gradient(180deg, #E71B40 0%, #A5001F 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */

@font-face {
  font-family: 'Lufga';
  font-weight: 100;
  font-style: normal;
  src: url('./assets/fonts/LufgaThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 100;
  font-style: italic;
  src: url('./assets/fonts/LufgaThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 200;
  font-style: normal;
  src: url('./assets/fonts/LufgaExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 200;
  font-style: italic;
  src: url('./assets/fonts/LufgaExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/LufgaLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/LufgaLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/LufgaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/LufgaItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/LufgaMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/LufgaMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/LufgaSemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/LufgaSemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/LufgaBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/LufgaBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 800;
  font-style: normal;
  src: url('./assets/fonts/LufgaExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 800;
  font-style: italic;
  src: url('./assets/fonts/LufgaExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 900;
  font-style: normal;
  src: url('./assets/fonts/LufgaBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Lufga';
  font-weight: 900;
  font-style: italic;
  src: url('./assets/fonts/LufgaBlackItalic.ttf') format('truetype');
}

body, html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
